---
import { Image } from "astro:assets";
// È consigliato che le immagini locali siano salvate in /src quando possibile in modo che Astro possa trasformarle, ottimizzarle e raggrupparle.
// I file nella directory /public vengono sempre serviti o copiati nella cartella di compilazione così come sono, senza elaborazione.
// import localImage from '../images/localImage.png';
import Main from "./Main.astro";
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
---

<header class="mb-10 bg-red-500 py-6 sm:mb-20 sm:py-10">
  <Main cl="flex flex-wrap flex-row items-center justify-between">
    <a href="/" class="flex items-center gap-x-4">
      <Image
        src="/favicon.svg"
        alt="logo"
        width={64}
        height={64}
        format="webp"
        class="w-12 sm:w-16"
      />
      <p class="text-xl uppercase sm:text-3xl">logo</p>
    </a>
    <Hamburger />
    <Navigation />
  </Main>
</header>
