---
import { Image } from "astro:assets";
// È consigliato che le immagini locali siano salvate in /src quando possibile in modo che Astro possa trasformarle, ottimizzarle e raggrupparle.
// I file nella directory /public vengono sempre serviti o copiati nella cartella di compilazione così come sono, senza elaborazione.
// import localImage from '../images/localImage.png';
import Main from "./Main.astro";
import navigation from "../data/navigation.json";

const pathname = Astro.url.pathname;
const currentPath = pathname === "/" ? "/" : pathname.slice(1);
---

<header class="mb-10 bg-red-500 px-24 py-12 max-sm:px-5 max-sm:py-10 sm:mb-20">
  <Main cl="flex flex-row justify-between items-center">
    <a href="/" class="flex items-center gap-x-4">
      <Image
        src="/favicon.svg"
        alt="logo"
        width={64}
        height={64}
        format="webp"
        class="w-16"
      />
      <p class="text-3xl uppercase">logo</p>
    </a>
    <ul class="flex gap-x-8">
      {
        navigation.map((page) => (
          <li>
            <a
              href={page.path}
              class:list={[
                "font-medium hover:text-white/50",
                currentPath === page.path
                  ? "text-white hover:text-white/100"
                  : "text-red-900",
              ]}
            >
              {page.name}
            </a>
          </li>
        ))
      }
    </ul>
  </Main>
</header>
